<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>Student Status Home Page</h1>
    <button id="studentsBtn">Click Here To Proceed</button>
</body>
</html>